<%= javascript_include_tag "jme", :plugin => "opentox" %>

<div class="smarts_form">
<% form_tag :action => 'search'  do %>
<dl>
  <dt><%= link_to 'SMARTS', "http://openbabel.sourceforge.net/wiki/SMARTS" %></dt>
  <dd>

    <div class="smarts_entry">
      <div class="smarts_text">
        <%= text_field_tag :smarts, params[:smarts], :size => 40 %>
      </div>
      <div class="smarts_jme">
        <object codetype="application/java" classid="java:JME.class" name="JME" codebase="/plugin_assets/opentox/applets/" archive="JME.jar" width="300" height="300">
          <param name="options" value="query"> 
          <% if @molfile %>
          <param name="mol" value="<%= @molfile %>"/>
          <% end %>
        Please enable Java in your browser to use the JME editor.
        </object>
        <br/>
        Use the "QRY" button to generate complex substructure queries
        <%= link_to "(help)", "#{$RAILS_DIR}/plugin_assets/opentox/applets/jme_help" %>. <p/>
      </div>
    </div>

  </dd>
  <dt>Endpoint (<%= link_to "add", :action => "upload_form" %>) </dt>
  <dd>
    <% if params[:endpoint_id].blank? %>
    <%= select_tag :endpoint_id, option_groups_from_collection_for_select(LazarCategory.find(:all), :lazar_modules,:name,:id, :endpoint,nil) %><p/>
    <% else %>
    <%= select_tag :endpoint_id, option_groups_from_collection_for_select(LazarCategory.find(:all), :lazar_modules,:name,:id, :endpoint,LazarModule.find(params[:endpoint_id])) %><p/>
    <% end %>
  </dd>
    <dt><%= submit_tag "Search", :onclick => "getsmarts();" %>
    </dt>

</dl>

<% end %>
</div>
