<div class="smarts_form">
  <dl>
    <dt>Matches</dt>
    <dd>
    <% if @chisq > 3.84 %>
    <% if @activating %>
    predominatly <b>active</b> compounds (p &lt; 0.05, chi-square <%= sprintf("%0.2f",@chisq) %>)

    <% elsif @dactivating %>
    predominatly <b>inactive</b> compounds (p &lt; 0.05, chi-square <%= sprintf("%0.2f",@chisq) %>)

    <% end %>
    <% else %>
    no significant difference between active and inactive compounds  (p &gt; 0.05, chi-square <%= sprintf("%0.2f",@chisq) %>)

    <% end %>
    </dd>
  </dl>
</div>
<p/>

<div class="fragment_results">

  <div class="active_compounds">
    <% @category = "actives" %>
    <%= render :partial => "compound_table" %>
  </div>

  <div class="inactive_compounds">
    <% @category = "inactives" %>
    <%= render :partial => "compound_table" %>
  </div>

</div>

<p/>
<div class="warnings">
<!--
  <h2>Warnings:</h2>
  <%#= flash[:warning] %><p/>
-->
</div>
